//colors
// Primary Colors
 // Use for main elements like call-to-action buttons, highlights, and headings.
$color-vibrant-orange: #FF6F00;
 // Use for secondary buttons, links, hover states, and subtle accents.
$color-light-orange: #FFA726; 

$color-light-green: #3cd353;
$color-dark-green: #3A7D44;

$color-dark-blue: #024CAA;
$color-light-blue: #058fff;


// Complementary Accent Colors
// Use for main text, headings, and contrast against light backgrounds.
$color-dark-charcoal: #595656c2;  
$color-dark-charcoal-2: #555252d3;
$color-dark-charcoal-3: #111010d3;  

// Use for light backgrounds, sections, and light text areas to keep the page clean and readable.
$color-creamy-white: #F4F4F4;   

// Neutral Colors
// Use for neutral backgrounds or borders, keeping the design balanced without overpowering.
$color-light-grey: #D3D3D3;
$color-light-grey-2: #e6e6e6;

$color-chalk-grey:#fff3df57;
// Use for backgrounds, section dividers, whitespace, and creating contrast against darker elements.
$color-off-white: #FFFFFF;     

