@use '../abstracts/variables' as *;

.btn{
    &:link,
    &:visited{
        color: $color-dark-charcoal;
        font-size: 1.6rem;
        text-transform: uppercase;
    }

    &--white{
        background-color: white;
        padding: 1.7rem 4rem;
        border-radius: 80px;
    }
    
}