@use '../abstracts/variables' as *;
@use '../abstracts/animations' as *;

.btn{
    &,
    &:link,
    &:visited{
        font-size: 1.6rem;
        transition: all .2s;
        display: inline-block;
        cursor: pointer;
    }

    &:active, &:focus{
        transform: translateY(-.1rem);
        box-shadow: 0 .5rem 1rem rgba(black, .3);
    }
    &__round{
        text-transform: uppercase;
        position: relative;
        border-radius: 10rem;
        padding: 2.2rem 4rem;

        &:hover{
            transform: translateY(-.3rem);
            box-shadow: 0 1rem 1rem rgba(black, .3);
    
            &::after{
                transform: scaleX(1.4) scaleY(1.6);
                opacity: 0;
            }
    
        }
        
        &::after{
            content: '';
            display: inline-block;
            height: 100%;
            width: 100%;
            position:absolute;
            border-radius: 10rem;
            top: 0;
            left: 0;
            z-index: -1;
            transition: all .2s;

            
        }
        &--white{           
            background-color: $color-off-white;
            color: $color-dark-charcoal;

            &::after{
                background-color: $color-off-white;
            }         
        }

        &--orange{
            background-color: $color-vibrant-orange;
            color: white;

            &::after{
                background-color: $color-vibrant-orange;
            } 
        }
    
    }
   

 
    &--text{
        color: $color-vibrant-orange;
        font-size: 1.6rem;
        padding: .7rem;
        border-bottom: solid 1px;

        &:hover{
            transform: translateY(-.5rem);
            background-color: $color-vibrant-orange;
            border-bottom: 0;
            color: $color-off-white;

            box-shadow: .3rem 0.5rem 2rem rgba(0, 0, 0, 0.2);
        }
    }


    &--animated{
        animation: moveInBottom 1s ease-in-out;
        animation-fill-mode: forwards;
    } 
}