@use "../abstracts/variables" as *;

.feature-card{
    width: 25rem;
    margin: 2rem;
    text-align: center;
    color: $color-dark-charcoal-2;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba($color-creamy-white, .7);
    padding: 2rem 4rem;
    font-size: 1.4rem;
    border-radius: .5rem;
    transition: all .2s ease;

    &__icon{
        font-size: 9rem;
        margin: 1rem;
        color:$color-light-orange;
    }

    &__title{
        margin-bottom: 1.8rem;
        text-transform: uppercase;
    }

    &__text{
        font-size: 1.4rem;
    }

    &:hover{
        transform: translateY(-2rem);
        box-shadow:0 1.5rem 2rem rgba(0, 0, 0, 0.3);
    }

}